{
  "openapi": "3.0.0",
  "info": {
    "title": "PlugnplAI API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.plugplai.com/_functions"
    }
  ],
  "paths": {
    "/getUrls": {
      "get": {
        "summary": "Get URLs",
        "description": "Retrieves a list of all URLs stored in the \"plugin\" collection.",
        "responses": {
          "200": {
            "description": "A list of URLs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No URLs found in the database.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getAllPluginsJson": {
      "get": {
        "summary": "Get All Plugins (JSON Data)",
        "description": "Retrieves all plugin data stored in the \"plugin\" collection, including all relevant fields.",
        "responses": {
          "200": {
            "description": "A list of plugins with all relevant fields.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plugins": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "schemaVersion": {
                            "type": "string"
                          },
                          "nameForModel": {
                            "type": "string"
                          },
                          "nameForHuman": {
                            "type": "string"
                          },
                          "descriptionForHuman": {
                            "type": "string"
                          },
                          "descriptionForModel": {
                            "type": "string"
                          },
                          "apiType": {
                            "type": "string"
                          },
                          "apiUrl": {
                            "type": "string"
                          },
                          "hasUserAuthentication": {
                            "type": "boolean"
                          },
                          "authType": {
                            "type": "string"
                          },
                          "logoUrl": {
                            "type": "string"
                          },
                          "contactEmail": {
                            "type": "string"
                          },
                          "legalInfoUrl": {
                            "type": "string"
                          },
                          "upCount": {
                            "type": "integer"
                          },
                          "aiPluginJsonData": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No plugins found in the database.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}